/* 覆盖浏览器默认值 */

html,
body,
h1,
h2,
p {
    margin: 0;
}

html {
    font-family: 'PingFang SC';
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* 页面主体结构 */

header {
    /* position: fixed; */
    height: 460px;
    background: #1677FF;
}

header h2 {
    font-size: 16px;

}

main {
    /* 纵向撑满屏幕，将footer挤到页面底部 */
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


/* 导航栏 */

nav {
    background: #1677FF;
    position: fixed;
    padding:  10px 20px 5px 20px;
    left: 0;
    right: 0;
    top: 40;
    display: flex;
    align-items: center;
    /* width:auto;
    height:auto; */
}

nav .logo {
    flex: 1.0;
}

nav .logo img {
    left:0; 
    width: 150px;
    height: 36px;
}

nav .nav-item a {
    color: #fff;
    font-size: 16px;
    font-family: Helvetica;
    text-decoration: none;
    font-weight: bold;
    margin-right: 18px;
}

nav .search img {
    display:inline-block;
    width: 16px;
    height: 16px;
}


/* 页脚 */

footer {
    padding: 0 80px;
    min-height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

footer span {
    flex: 1.0;
}

footer img {
    width: 24px;
    height: 18px;
}